body {
  background: #1b1b1d;
  color: white;
}
#chart {
  background: #0e3040;
  color: #67809f;
}
.selectedTab {
  background: black;
  color: #52f797;
}
.unselectedTab {
  background: black;
  color:  #21ce99;
}