body {
  background: #1b1b1d;
  color: white;
  font-family: "dinpro-bold";
}
#chart {
  background: #1b1b1d;
  color: #67809f;
}
.selectedTab {
  background: black;
  color: #21ce99;
}
.unselectedTab {
  background: black;
  color:white;
}

.ticker {
  font-family: "dinpro";
}

.headerButton {
  padding: 10px 10px 10px 36px;
  border-radius: 16px;
  border: 1px solid #171718;
  color: white;
  background-size: 20% 10%;
}

.headerButton:hover {
  color: black;        
}

.headerButton:active{
  border-style: outset;
}

#analystHold {
  background: url('/img/analyst-off.png') no-repeat;
}
#analystHold:hover {
  background: white url('/img/analyst-on.png') 10px 10px no-repeat;
}

#robinhoodOwners {
  background: url('/img/owners-off.png') 10px 10px no-repeat;
}
#robinhoodOwners:hover {
  background: white url('/img/owners-on.png') 10px 10px no-repeat;
}

/* #f45531 Red Downward Color */
/* #21ce99 Green Upward Color */
/* #1b1b1d Background Color */