body {
  background: #1b1b1d;
  color: white;
}
#chart {
  background: #1b1b1d;
  color: #67809f;
}
.selectedTab {
  background: black;
  color: #21ce99;
}
.unselectedTab {
  background: black;
  color:white;
}

.headerButton {
  padding: 10px 10px 10px 36px;
  font-family: "Trebuchet MS", Arial, Verdana;   
  background: black url(http://www.famfamfam.com/lab/icons/silk/icons/disk.png) 10px 10px no-repeat;
  border-radius: 16px;
  border: 1px solid #171718;
  color: white;
}

.headerButton:hover {
  background-color: #171718;        
}

.headerButton:active{
  border-style: outset;
}

/* #f45531 Red Downward Color */
/* #21ce99 Green Upward Color */
/* #1b1b1d Background Color */